/* || Overall styles */
/* html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
} */

section {
    background-color: white;
}

/* h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
} */

.project-link {
    text-decoration: none;
    color: #ef744b;
}

/* a {
    text-decoration: none;
    color: white;
} */

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}
.button:hover {
    background-color: #ef744b;
}
.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

.pill-button {
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 100px;
}

.pill-button-project-independent {
    background-color: coral;
}

.pill-button-project-school {
    background-color: cornflowerblue;
}

.pill-button-project-game-jam {
    background-color: darkorchid;
}

.pill-button-madein-unity {
    background-color: darkslateblue;
}

/**********************/
/**********************/
/**********************/

#scroll-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;

    width: 100px;
    height: 55px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;

    text-decoration: none;
    color: white;
}

.hidden {
    display: none;
}

/* || Header overall */
/* .hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
} */

/**********************/
/**********************/
/**********************/

/* || Header/nav bar (and hamburger menu in mobile) */
/* nav {
    display: flex;
    justify-content: space-between;
}

#nav-list {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

#nav-list > li {
    text-decoration: none;
}

.hamburger {
    display: none;
}

.hamburger:focus{
    outline: 0;
} */

/* @media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    #nav-list {
        display: none;
        background-color: #2b2c38;
        margin: 0ppx;
    }

    #nav-list.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;
    }

    .logo {
        display: none;
    }
} */

/**********************/
/**********************/
/**********************/

/* || Header/hero area */
/* .hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
} */

/* .logo {
    height: 80px;
    margin: 30px;
} */

/**********************/
/**********************/
/**********************/

/* || Links to social media */
/* .socials {
    padding-bottom: 200px;
}
.social {
    margin: 20px;
} */

/**********************/
/**********************/
/**********************/

/* || ("About me") */
.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.headshot {
    width: 300px;
    border-radius: 150px;
    margin-left: 80px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

/**********************/
/**********************/
/**********************/

/* || Grid container ("Projects") */
.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.project-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 600px);
    place-content: center;
    gap: 1rem;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

/**********************/
/**********************/
/**********************/

/* || grid card */
.project-card {
    width: 580px;
    height: 380px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
    transition: all 0.3s;
}

.project-card.expand {
    height: fit-content;
}

article.project-card:hover {
    transform: scale(1.1);
}

.project-card-detail {
    visibility: hidden;
}
.project-card-detail.show {
    visibility: visible;
}
div.project-card-detail.show > ul {
    text-align: left;
}

.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

.subtext {
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
}

/**********************/
/**********************/
/**********************/

/* || Footer("Contact me") */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}
