.mobile-card {
    width: 80vmin;
    height: 50vmin;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
    transition: all 0.3s;
    border-radius: 20px;
}

.mobile-card-expand {
    width: 80vmin;
    height: auto;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
    transition: all 0.3s;
    border-radius: 20px;
}

.non-mobile-card {
    width: 60vmin;
    height: 60vmin;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
    transition: all 0.3s;
    border-radius: 20px;
}

.non-mobile-card-expand {
    width: 60vmin;
    height: auto;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
    transition: all 0.3s;
    border-radius: 20px;
}

.non-mobile-project-image {
    margin-top: 3vmin;
    width: 40vmin;
    border-radius: 200px;
}

.mobile-project-image {
    margin-top: 3vmin;
    width: 30vmin;
    border-radius: 200px;
}

.sub-text {
    font-size: 2vmin;
    font-weight: 300;
    padding: 2vmin;
}

.card-detail-list-item {
    text-align: left;
    width: 50vmin;
}
