.pill-button {
    border: none;
    color: white;
    padding: .1vmin 2vmin;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: .1vmin .5vmin;
    border-radius: 10vmin;
}

.pill-button-project-independent {
    background-color: coral;
}

.pill-button-school-project {
    background-color: cornflowerblue;
}

.pill-button-project-game-jam {
    background-color: darkorchid;
}

.mobile-pill-text {
    font-size: 2vmin;
}

.non-mobile-pill-text {
    font-size: 1.5vmax;
}
