.hero {
  background-color: #1c1d25;
  height: 100vh;
  color: white;
  font-size: 40px;
}

/*********************************/
/* Font settings across the app  */
/*********************************/
h1 {
  font-size: 10vmin;
  margin: 0;
}

h2 {
  font-size: 8vmin;
}

h3 {
  font-size: 3.5vmin;
}

p {
  margin: 0;
  font-size: 3.5vmin;
  font-weight: 300;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
}
